<html>
	<head>
		<title>Word</title>
	<script src="http://192.168.1.128:7050/assets/dropzone.js"></script>
	</head>
	
	<body>
		<table border="1">
			<tr>
				<th colspan="2">Word ({{word.id}})</th>
			</tr>
			<tr>
				<td>Word</td>
				<td>{{word.word}}</td>
			</tr>
			<tr>
				<td>Times Used</td>
				<td>{{word.timesUsed}}</td>
			</tr>
		</table>
	</body>	
</html>