body { background-color:#F3F3F3; }
.primary {
    position: relative;
    margin: 60px 60px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    /*border: 4px solid;
    border-color: black;
    border-radius: 15px;*/
    background: white;
    padding:25px 10px 20px 10px;
    box-shadow: 5px 5px 5px #888888;
}
.title {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font-size: 35px;
    font-family: 'Lucida Console', Monaco, monospace;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    text-align: center;
    /*border: 1px solid;*/
}
.title-small {
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font-size: 25px;
    font-family: 'Lucida Console', Monaco, monospace;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    /*border: 1px solid;*/
}

div.dropzone {
    background:lightgray;
    width: 400px;
    height: 57px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed;
    border-color: orange;
    font-size: 15px;
    font-family: 'Lucida Console';
    text-align: center;
    /*padding-top: 37px;*/
    overflow: hidden;
    /*border: 1px solid;*/
}

div.dropzone input {
    /*display: block !important;*/
    width: 400px !important;
    height: 57px !important;
    margin-left: auto;
    margin-right: auto;
    /*opacity: 0 !important;*/
    overflow: hidden !important;
}

.options {
    /*position: absolute;*/
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    /*border: 1px solid;
    border: 3px solid;
    border-color: red;*/
}
.options-left {
    width: 49%;
    float: left;
    /*border: 1px solid;*/
}
.options-right {
    width: 49%;
    float: right;
    /*border: 1px solid;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.seed {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.more-info {
    padding-top:10px;
    padding-bottom:10px;
    /*border: 1px solid;*/
}

.instructions {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.instructions-note {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
}

.checkbox {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.radio {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.process {
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    clear: both;
    width: 100%;
    display: table;

    /*border: 1px solid;
    border-color: green;*/
}
.textbox {
    background-color: #D7EFFF;
    border: solid 1px #646464;
    outline: none;
    padding: 2px 2px;
    width: 125px;
}
.textbox:hover {
    background-color: #FF0;
}
.textbox:focus {
    background-color: #6FFF62;
}
.process_button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background: #ED5E2F;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    width: 100%;
    display: table-cell;
}

.process_button:hover {
    background: #74A599;
}

.process_button:active {
    background: #F6A953;
}
ol.toplist {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol.toplist > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #666;
    background:#f6f6f6;
}
ol.toplist > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    background:#666;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol.toplist,
li ul {margin-top:6px;}
ol.toplist ol.toplist li:last-child {margin-bottom:0;}